{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
    <h2>Admin Dashboard</h2>
    <h3>Welcome, {{ admin.username }}!</h3>

    {% if active_round %}
        <p>Current Active Round ID: {{ active_round.round_id }}</p>
        <p>Started on: {{ active_round.start_date }}</p>
        
        
    
        <h4>End Current Round</h4>
        <form action="{{ url_for('main.end_round', round_id=active_round.round_id) }}" method="post">
            <button type="submit">End Current Round</button>
        </form>
        

    {% else %}
        <p>No active round found.</p>
        
        <h4>Start New Round</h4>
        <form action="{{ url_for('main.add_round') }}" method="post">   
            <button type="submit">Start New Round</button>
        </form>
    {% endif %}

    {% if latest_round and not active_round %}
        <p>Last Round Ended on: {{ latest_round.end_date }}</p>
    {% endif %}
    
{% endblock %}
